{% load staticfiles i18n %}
<section id="contact" class="gray-section contact">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>{% trans "Contact Us" %}</h1>
                <p>{% trans "Tell us what you like about our page" %}</p>
            </div>
        </div>
        <div class="row m-b-lg">
            <div class="col-lg-3 col-lg-offset-3">
                <address>
                    <strong><span class="navy">Voluntag.me</span></strong><br/>
                    <abbr title="{% trans 'Email' %}"><i class="fa fa-evelop-o"></i></abbr> info@voluntag.me
                </address>
            </div>
            <div class="col-lg-4">
                <ul class="list-unstyled">
                    <li><a href="{% url 'about' %}">{% trans "About us" %}</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <a href="mailto:info@voluntag.me" class="btn btn-primary">{% trans "Send us mail" %}</a>
                <p class="m-t-sm">
                    {% trans "Or follow us" %}
                </p>
                <ul class="list-inline social-icon">
                    <li><a target="_blank" href="https://www.twitter.com/voluntagme"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a target="_blank" href="https://www.facebook.com/voluntagme"><i class="fa fa-facebook"></i></a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
                <p><strong>&copy; 2015 Voluntag.me</strong><br/> {% trans "converting intentions into actions" %}</p>
            </div>
        </div>
    </div>
</section>