{% load staticfiles i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Voluntag.me {% block title %}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'font-awesome/css/font-awesome.min.css' %}"/>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  {% endblock %}
</head>
<body id="page-top">
  <div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top {% block navbar_class %}navbar-scroll{% endblock navbar_class %}" role="navigation">
      <div class="container">
        <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{% trans "Toggle navigation" %}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" height="25" /></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            {% block navbar_items %}
            <li><a class="page-scroll" href="#popular">{% trans "Popular" %}</a></li>
            <li><a href="{% url 'causes:discover' %}">{% trans "Discover" %}</a></li>
            <li><a class="page-scroll" href="#testimonials">{% trans "Why be a volunteer?" %}</a></li>
            <li><a class="page-scroll" href="#contact">{% trans "Contact" %}</a></li>
            {% endblock navbar_items %}
            {% if request.user.is_authenticated %}
              <li><a href="{% url 'users:detail' request.user.username  %}">{% trans "My Profile" %}</a></li>
              <li><a href="{% url 'account_logout' %}">{% trans "Logout" %}</a></li>
            {% else %}
              <li><a href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
              <li><a href="{% url 'account_login' %}">{% trans "Log In" %}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </div>

  {% if messages %}
    {% for message in messages %}
      <div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>{{ message }}</div>
    {% endfor %}
  {% endif %}

  {% block pagetop %}
  <section class="page-header-image">
    <div class="header-back inside">
      <div class="container">
        <div class="carousel-caption">
          <h1>{% block head_title %}{% endblock head_title %}</h1>
          <p>{% block head_description %}{% endblock head_description %}</p>
        </div>
      </div>
    </div>
  </section>
  {% endblock pagetop %}

  {% block content %}
  {% endblock content %}

  {% block footer %}
    {% include "common/footer.html" %}
  {% endblock footer %}

  {% block modal %}{% endblock modal %} 

  <script src="{% static 'js/build.js' %}"></script>
</body>
</html>
