{% extends "causes/base_causes.html" %}
{% load i18n %}
{% load staticfiles %}
{% load humanize %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}

{% block title %}
    {{object.title}}
{% endblock title %}

{% block pagetop %}
{% endblock pagetop %}

{% block content %}

<div class="container">
    <div class="page-header">
      <h1>{{object.title}}<small>Cali</small></h1>
    </div>
    <div class="row">
      <div class="col-md-8">
        <img src="{{ MEDIA_URL }}{{ object.image }}" alt="{{object.title}}" class="img-responsive">
      </div>
      <div class="col-md-4">
        <div>
          <h2>{{ object.title }}</h2>
        </div>
        <div>
          <h3>{{ object.volunteers_qty}} {% trans "of" %} {{ object.volunteers_goal }}</h3>
        </div>
      </div>
      <div class="col-md-8">
        {{ object.description|linebreaks }}
      </div>
    </div>
</div>
{% endblock content %}